

/* main layout color variables */
:root{
  --primary-color: white;
  --secondary-color: #4292cccb;
  --tertiary-color: #90708C;
  
}

/* universal selector of all items to overwrite the default html styling */
* {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace;
}
/* universal selector of all items to overwrite the default html styling */

/* flex row declarations */
.flex-row{
  display: flex;
  border-bottom: 3px solid var(--tertiary-color);
  padding-bottom: 60px;
}

.work-flex-row{
  display: flex; 
}
/* flex row declarations */

/* body */
body{
  z-index: 9999;
  background-color: var(--secondary-color);
}
/* body */

/* header styling start */
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url('../images/open-road-resized.jpg');
  background-position: 80%;
  background-size:cover;
  background-attachment: fixed;
  z-index: 9999;
  padding: 20px 35px;
  position: relative;
  width: 100%;
}

header h1{
  padding: 11px 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 25px;
  z-index: 9999;
  text-shadow: 0 0 10px #90708C;
  transition: 1s;
}

header h1:hover{
  color: var(--secondary-color);
  transition: 1s;
  background-color: var(--primary-color);
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 100px;
  
}

header a{
  padding: 0 30px;
  text-decoration: none;
  color: var(--primary-color);
  
}

header nav ul li{
  background-color: var(--secondary-color);
  border-radius: 25px;
  border-left: 10px;
  margin: 0 10px;
  transition: 1s;
}

header nav ul li:hover{
  transition: 1s;
  background-color: var(--primary-color);
}

header nav ul li a:hover{
  color: var(--secondary-color);
  transition: .5s;
}

header h1 a{
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  text-decoration: none;
}

header nav{
  padding-top: 10px;
  z-index: 9999;
}

header nav ul {
  padding: 10px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  z-index: 9999;
}

header nav ul li a {
  padding: 0 30px;
  margin: 0;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(245, 3, 3, 0.507);
  z-index: 9999;
  transition: 1s;
}

header div{ /*secondary-background container*/
  
  background-position: 80%;
  z-index: 9998;
  position: absolute;
  left: 0px;
  right: 0px;
}

.secondary-background{
  content: "";  
  padding: 30px 30px 35px 1000px;  
  background-image: url('../images/mountains-resized.jpg');
  background-position: 50%;
  background-size:cover;
  background-attachment: fixed;
  opacity: .6;
  z-index: 9998;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
  
}
/* header styling end */

/* hero section styling start */
.hero{
  padding: 300px;
  background-image: url('../images/open-road-resized.jpg');
  background-position: 80%;
  background-size: cover;
  background-attachment: fixed;
}
/* hero section styling end */

/* about me section styling start */
.about-me{
  padding: 100px 60px;
  padding-top: 80px;
}

.about-me h2{
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  margin-right: 0;
  text-align: right;
  background-color: var(--tertiary-color);
  padding: 30px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.about-me img{
  margin-right: 60px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  object-fit: cover;
}

.border-right{
  border-right: 10px ridge var(--tertiary-color);
  margin-right: 60px;
}

.about-me p{
  color: var(--primary-color);
}
/* about me section styling end */

/* work section styling start */

.work {
  padding-top: 60px;
  margin: 0 60px;
  margin-top: 0px;
}

/* work grid label container */
.work-label-flex-row{
  display: flex;
  margin: 20px 0;
  margin-left: 400px;
}

/* work grid labels */
.runbuddy-label{
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  background-color: var(--tertiary-color);
  border-radius: 25px;
  padding: 20px;
  text-align: center;
}

.mtr-label{
  margin-left: 130px;
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  background-color: var(--tertiary-color);
  border-radius: 25px;
  padding: 20px;
}

.horiseon-label{
  margin-left: 100px;
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  background-color: var(--tertiary-color);
  border-radius: 25px;
  padding: 20px;
}

.work-flex-row {
  display: flex;
}

.work h2 {
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  background-color: var(--tertiary-color);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  margin-right: 0;
  text-align: right;
  padding: 30px;
}

/* keyboard image */
.work-img{
  object-fit: cover;
  height: 200px;
  width: 210px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* my work grid start */
.work-grid{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 13rem);
  align-items: start;
  margin-right: 30px;
}

.grid-item-runbuddy{
  display: flex;
  width: 50%;
 
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.grid-item-meetthereplacements{
  display: flex;
  width: 50%;

  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.grid-item-horiseonrefactor{
  display: flex;
  width: 50%;

  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.runbuddy-img{
  height: 100px;
  transition: 1s;
  width: 100%;
  border-radius: 10px;
  
}

.runbuddy-img:hover{
  transition: 1s;
  height: 200px;
  width: 200px;
}

.meetthereplacements-img{
  height: 100px;
  transition: 1s;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.meetthereplacements-img:hover{
  transition: 1s;
  height: 200px;
  width: 200%;
}

.horiseonrefactor-img{
  height: 100px;
  transition: 1s;
  width: 100%;
  border-radius: 10px;
  
}

.horiseonrefactor-img:hover{
  transition: 1s;
  height: 200px;
  width: 200px;
}

.work .border-right{
  margin-left: 55px;
}

/* work section styling end */

/* contact section styling start */
.contact {
  padding: 100px 30px;
  position: relative;
  display: flex;
  justify-content: space-around;
  
}

.contact span{ /*secondary-background container*/
  
  background-position: 80%;
  z-index: 9998;
  position: absolute;
  left: 0;
  right: 0;
}

.contact h2{
  padding: 11px 10px;
  margin-top: 5px;
  margin-right: 150px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 25px;
  z-index: 9999;
  text-shadow: 0 0 10px #90708C;
  transition: 1s; /*transition back from the hover state */
}

.contact h2:hover{
  color: var(--secondary-color);
  transition: 1s;
  background-color: var(--primary-color);
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0px;
}

.contact nav{
  margin-left: 100px;
}

.contact a{
  padding: 0 30px;
  text-decoration: none;
  color: var(--primary-color);
  
}

.contact nav{
  padding-top: 10px;
  z-index: 9999;
}

.contact nav ul {
  padding: 10px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  z-index: 9999;
  transition: 1s;
}

.contact nav ul li{
  background-color: var(--secondary-color);
  border-radius: 25px;
  border-left: 10px;
  margin: 0 10px;
  transition: 1s;
}

.contact nav ul li:hover{
  transition: 1s;
  background-color: var(--primary-color);
}

.contact h2 a{
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  text-decoration: none;
}

.contact nav ul li a {
  padding: 0 30px;
  margin: 0;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(245, 3, 3, 0.507);
  z-index: 9999;
  transition: .5s;
}

.contact nav ul li a:hover{
  color: var(--secondary-color);
  transition: .5s;
}
/* contact section styling end */