

/* main layout color variables */
:root{
  --primary-color: white;
  --secondary-color: #4292cccb;
  --tertiary-color: rgb(144, 112, 140);
  
}

/* universal selector of all items to overwrite the default html styling */
* {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace;
}
/* universal selector of all items to overwrite the default html styling */

/* flex row declarations */
.flex-row{
  display: flex;
  border-bottom: 3px solid var(--tertiary-color);
  padding-bottom: 60px;
}

.work-flex-row{
  display: flex;
}


/* flex row declarations */

/* body */
body{
  z-index: 9999;
  background-color: var(--secondary-color);
}
/* body */

/* header styling start */
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url('../images/open-road-resized.jpg');
  background-position: 80%;
  background-size:cover;
  background-attachment: fixed;
  z-index: 9999;
  padding: 20px 35px;
  position: relative;
  width: 100%;
}

header h1{
  padding: 11px 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 25px;
  z-index: 9999;
  text-shadow: 0 0 10px #90708C;
  transition: 1s;
}

header h1:hover{
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: 1s;
  
}

header a{
  padding: 0 30px;
  text-decoration: none;
  color: var(--primary-color);
  
}

header nav ul li{
  background-color: var(--secondary-color);
  border-radius: 25px;
  border-left: 10px;
  margin: 0 10px;
  transition: 1s;
}

header nav ul li:hover{
  transition: 1s;
  background-color: var(--primary-color);
}

header nav ul li a:hover{
  color: var(--secondary-color);
  transition: .5s;
}

header h1 a{
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  text-decoration: none;
}

header nav{
  padding-top: 10px;
  z-index: 9999;
}

header nav ul {
  padding: 10px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  z-index: 9999;
}

header nav ul li a {
  padding: 0 20px;
  margin: 0;
  font-weight: lighter;
  text-shadow: 0 0 10px rgba(245, 3, 3, 0.507);
  z-index: 9999;
  transition: 1s;
}

header div{ /*secondary-background container*/
  
  background-position: 80%;
  z-index: 9998;
  position: absolute;
  left: 0px;
  right: 0px;
}

.secondary-background{
  display: flex;
  content: "";  
  padding: 30px 30px 35px 30px;  
  background-image: url('../images/mountains-resized.jpg');
  background-position: 50%;
  background-size:cover;
  background-attachment: fixed;
  opacity: .6;
  z-index: 9998;
  border-radius: 25px;
  margin-left: 35px;
  margin-right: 35px;
  
}

#aboutme-anchor{
  cursor: pointer;
}

#work-anchor {
  cursor: pointer;
}

.hide-before-small-media {
  display: none;
}

.hide-after-small-media {
  display: inline-block
}

#work-idTwo {
  background-color: var(--secondary-color);
  border-radius: 25px;
  border-left: 10px;
  margin: 0 10px;
  transition: 1s;
  padding: 0 20px;
  cursor: pointer;
  color: white;
  box-shadow: 0px 0px 10px 5px var(--tertiary-color)
}

#work-idTwo:hover {
  transition: 1s;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#contact-anchor{
  cursor: pointer;
}
/* header styling end */

/* hero section styling start */
.hero{
  
  height: 100%;
  background-image: url('../images/open-road-resized.jpg');
  background-position: 80%;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  margin: 0;
  justify-content: center;
  position: relative;
}

.hero-flex{
  justify-content: center;
  display: flex;
  align-items: flex-start;
  width: 100%;
  
}

.hero-title{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-style: solid;
  padding: 0 0 50px 0;
  border-color: var(--primary-color);
  border-radius: 15px;
  border-width: 3px;
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, .5);
  height: 30%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 30%;
  margin-bottom: 30%;
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
  z-index: 1;
  opacity: .9;
  
}

#canvas-div {
  position: relative;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
}

#defaultCanvas0 {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: .5;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.hero-title h2 {
  justify-content: center;
  text-align: center;
}

.hero-title h3 {
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.hero img{ /* this is to create a container space because the background was overflowing and wouldnt appear unless i added padding to the div containing no content or space, background would only appear if i placed padding but this would cause overflow in different media queries */
  display: flex;
  height: 30%;
  background-image: url('../images/open-road-resized.jpg');
  background-position: 80%;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  margin: 0;
  position: relative;
  display: hidden;
  opacity: 0;
}
/* hero section styling end */

/* about me section styling start */
.about-me{
  padding: 100px 60px;
  padding-top: 80px;
}

.about-me-card-flexcontainer{
  display: flex;
  justify-content: center;
  height: 50%;
}

.about-me h2{
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  margin-right: 0;
  text-align: right;
  background-color: var(--tertiary-color);
  padding: 30px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.about-me img{
  margin-right: 60px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.border-right{
  border-right: 10px ridge var(--secondary-color);
  margin-right: 60px;
  border-radius: 25px;
}

.about-me p{
  color: var(--primary-color);
}
/* about me section styling end */

/* work section styling start */

.work {
  padding-top: 60px;
  margin: 0 60px;
  margin-top: 0px;
  padding-bottom: 60px;
  border-bottom: 3px solid var(--tertiary-color);
}

/* work row label container */
.work-label-flex-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  margin-left: 0px;
}

/* work row labels */
.work-header-flex-row .img1-h2{
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  background-color: var(--tertiary-color);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  margin-right: 0;
  text-align: left;
  padding: 20px 120px 30px 20px;
  width: 100px;
  font-size: 15px;
}

.work-header-flex-row .img1-h2 p{
  font-size: 10px;
}

.work-header-flex-row .img2-h2{
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  background-color: var(--tertiary-color);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  margin-right: 0;
  text-align: left;
  padding: 20px 120px 30px 20px;
  width: 100px;
  font-size: 15px;
}

.work-header-flex-row .img2-h2 p{
  font-size: 10px;
}

.work-header-flex-row .img3-h2{
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  background-color: var(--tertiary-color);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  margin-right: 0;
  text-align: left;
  padding: 20px 120px 30px 20px;
  width: 100px;
  font-size: 15px;
}

.work-header-flex-row .img3-h2 p{
  font-size: 10px;
}

.work-header-flex-row .img4-h2{
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  background-color: var(--tertiary-color);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  margin-right: 0;
  text-align: left;
  padding: 20px 120px 30px 20px;
  width: 100px;
  font-size: 15px;
}

.work-header-flex-row .img4-h2 p{
  font-size: 10px;
}

.work-header-flex-row .img5-h2{
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  background-color: var(--tertiary-color);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  margin-right: 0;
  text-align: left;
  padding: 20px 120px 30px 20px;
  width: 100px;
  font-size: 15px;
}

.work-header-flex-row .img5-h2 p{
  font-size: 10px;
}

.mtr-label{
  margin-left: 130px;
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  background-color: var(--tertiary-color);
  border-radius: 25px;
  padding: 20px;
}

.horiseon-label{
  margin-left: 100px;
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  background-color: var(--tertiary-color);
  border-radius: 25px;
  padding: 20px;
}

.work-flex-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.work-header-flex-row {
  display: flex;
  justify-content: center;
}

.work h2 {
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  background-color: var(--tertiary-color);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  margin-right: 0;
  text-align: left;
  padding: 30px 110px 30px 20px;
  width: 100px;
}

/* keyboard image */
.work-img{
  display: flex;
  justify-content: center;
  object-fit: cover;
  height: 200px;
  width: 210px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* my work grid start */
.work-flex{
  display: flex;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(3, 14rem);
  align-items: start;
  margin-right: 30px;
}

.grid-item-meetthereplacements{
  display: flex;
  width: 50%;
}

.grid-item-horiseonrefactor{
  display: flex;
  width: 50%;
}

.img1{
  transition: 1s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 200px;
  height: 140px;
  position: relative;
}

.img1::after{
  content: "";
  opacity: .1;
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: 0.5s;
}

.img1:hover::after{
  background: linear-gradient(rgba(252, 225, 56, 0.3), var(--secondary-color));
  transition: 0.5s;
  opacity: 1;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.img2{
  transition: 1s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 200px;
  height: 140px;
  position: relative;
}

.img2:hover::after{
  background: linear-gradient(rgba(252, 225, 56, 0.3), var(--secondary-color));
  transition: 0.5s;
  opacity: 1;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.img2::after{
  content: "";
  opacity: .1;
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: 0.5s;
}

.img3{
  transition: 1s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 200px;
  height: 140px;
  position: relative;
}

.img3:hover::after{
  background: linear-gradient(rgba(252, 225, 56, 0.3), var(--secondary-color));
  transition: 0.5s;
  opacity: 1;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.img3::after{
  content: "";
  opacity: .1;
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: 0.5s;
}

.img4{
  transition: 1s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 200px;
  height: 140px;
  position: relative;
}

.img4:hover::after{
  background: linear-gradient(rgba(252, 225, 56, 0.3), var(--secondary-color));
  transition: 0.5s;
  opacity: 1;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.img4::after{
  content: "";
  opacity: .1;
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: 0.5s;
}

.img5{
  transition: 1s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 200px;
  height: 140px;
  position: relative;
}

.img5:hover::after{
  background: linear-gradient(rgba(252, 225, 56, 0.3), var(--secondary-color));
  transition: 0.5s;
  opacity: 1;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.img5::after{
  content: "";
  opacity: .1;
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: 0.5s;
}

.work .border-right{
  margin-left: 55px;
}

/* work section styling end */

/* contact section styling start */
.contact {
  padding: 100px 30px;
  position: relative;
  display: flex;
  justify-content: space-around;
  
}

.contact span{ /*secondary-background container*/
  
  background-position: 80%;
  z-index: 9998;
  position: absolute;
  left: 0;
  right: 0;
}

.contact h2{
  padding: 11px 10px;
  margin-top: 5px;
  margin-right: 0;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 25px;
  z-index: 9999;
  position: relative;
  text-shadow: 0 0 10px #90708C;
  transition: 1s; /*transition back from the hover state */
}

.contact h2:hover{
  color: var(--secondary-color);
  transition: 1s;
  background-color: var(--primary-color);
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0px;
}

.contact nav{
  margin: 0px;
}

.contact a{
  padding: 0 30px;
  text-decoration: none;
  color: var(--primary-color);
  
}

.contact nav{
  padding-top: 10px;
  z-index: 9999;
}

.contact nav ul {
  padding: 10px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  z-index: 9999;
  transition: 1s;
}

.contact nav ul li{
  background-color: var(--secondary-color);
  border-radius: 25px;
  border-left: 10px;
  margin: 0 10px;
  transition: 1s;
}

.contact nav ul li:hover{
  transition: 1s;
  background-color: var(--primary-color);
}

.contact h2 a{
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  text-decoration: none;
}

.contact nav ul li a {
  padding: 0 30px;
  margin: 0;
  font-weight: lighter;
  
  text-shadow: 0 0 10px rgba(245, 3, 3, 0.507);
  z-index: 9999;
  transition: .5s;
}

.contact nav ul li a:hover{
  color: var(--secondary-color);
  transition: .5s;
}
/* contact section styling end */

/* footer styling start */

footer{
  display: flex;
  padding: 20px 35px;
  justify-content: center;
}

footer p{
  
  color: var(--primary-color);
}


/* start media query stylings */

@media screen and (max-width: 980px) {
  header{
    justify-content: center;
    position: relative;
  }

  .hero{
    width: 100%;
  }

  .contact-span{
    margin: 0;
    padding-left: 35px;
    padding-right: 35px;
  }


  .about-me img{
    margin-right: 0;
  }

  .about-me .flex-row p{
    padding-top: 30px;
    
  }
  .flex-row {
    
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
  }

  .border-right {
    display: none;
    opacity: 0;
  }

  .work-label-flex-row{
    flex-wrap: wrap;
    margin: 0;
    
  }


}

@media screen and (max-width: 575px){
  header{
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    
  }
  nav {
    font-size: 3.5vw;
  }

  .contact nav ul li {
    margin: 10px 0;
  }

  .secondary-background{
    opacity: 0;
  }
}

@media screen and (max-width: 375px){
  .hide-before-small-media{
    display: inline-block;
    margin-top: 10px !important;
  }
  .hide-after-small-media{
    display: none;
    
    padding-top: 0px;
  }

  .check-it-out {
    margin-top: 0;
    padding-top: 0 !important;
  }
}